@media (prefers-color-scheme: dark) {
  html, body {
    color: #ebebeb;
    color-scheme: dark;
    background-color: #1e1e1e;
  }

  .content {
    color: #ebebeb;
    background-color: #1e1e1e;
  }

  .content .buttons table tr td:hover,
  .content .toolbar table tr td:hover {
    background-color: rgb(255 255 255 / 10%);
  }

  #explore a:hover,
  #explore .explore:hover {
    background-color: rgb(255 255 255 / 5%) !important;
  }

  #explore {
    color: #a7a7a7 !important;
  }

  #explore a,
  #explore .close,
  #explore .explore {
    color: #ebebeb !important;
  }

  .content .buttons .excludelist[added] {
    color: #ff7955 !important;
  }

  .content .buttons .includelist[added] {
    color: #4fa8fb !important;
  }

  .content .buttons .includelist[loaded],
  .content .buttons .excludelist[loaded] {
    color: #ffffff !important;
  }

  .content .buttons .includelist[error],
  .content .buttons .excludelist[error] {
    color: #ff7955 !important;
  }

  .content table tr td,
  .content .toggle .button::after,
  .content .toggle .button::before,
  .content .buttons table tr td:hover {
    color: #ebebeb;
  }

  .content,
  .content .toggle {
    border-color: rgb(255 255 255 / 15%);
  }

  #explore .spacer {
    border-color: rgb(255 255 255 / 15%) !important;
  }

  .content .buttons .icon svg,
  .content .toolbar .icon svg {
    fill: #ebebeb;
  }
}
