body {
  margin: 0;
  padding: 0;
  color: #333;
  width: 600px;
  font-size: 13px;
  overflow: hidden;
  background-color: #fff;
  font-family: system-ui, sans-serif;
}

.content {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.content table {
  width: 100%;
  height: auto;
  border-spacing: 0;
}

.content table tr td {
  border: 0;
  margin: 0;
  color: #333;
  text-indent: 0;
  cursor: pointer;
  font-size: 13px;
  padding: 0 10px;
  user-select: none;
  font-family: system-ui, sans-serif;
}

.content .toggle {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}

.content .toggle .button {
  width: 72px;
  height: 210px;
  min-width: 72px;
  max-width: 72px;
  position: relative;
}

.content .toggle .button::after,
.content .toggle .button::before {
  left: 5px;
  content: '';
  user-select: none;
  position: absolute;
  pointer-events: none;
}

.content .toggle .button[state='ON']::before {
  top: 10px;
  content: 'Allow CORS: ON';
}

.content .toggle .button[state='CUST']::before {
  top: 10px;
  content: 'Allow CORS: ON';
}

.content .toggle .button[state='ON'][exclude]::after {
  bottom: 10px;
  content: 'Except Excluded Domains';
}

.content .toggle .button[state='ON'][error]::after {
  bottom: 10px;
  content: 'Unsupported Tab URL';
}

.content .toggle .button[state='CUST']::after {
  bottom: 10px;
  content: 'Included Domains Only';
}

.content .toggle .button[state='OFF']::after {
  bottom: 10px;
  content: 'Allow CORS: OFF';
}

.content .toggle .button[state='ON'] {
  background: url('../icons/ON/144.png') no-repeat center center;
  background-size: 72px;
}

.content .toggle .button[state='OFF'] {
  background: url('../icons/OFF/144.png') no-repeat center center;
  background-size: 72px;
}

.content .toggle .button[state='CUST'] {
  background: url('../icons/CUST/144.png') no-repeat center center;
  background-size: 72px;
}

.content .buttons {
  padding: 0 5px;
}

.content .buttons table tr td {
  padding: 0;
  height: 42px;
  transition: 100ms ease all;
}

.content .buttons table tr td:hover {
  color: #333;
  background-color: rgba(0, 0, 0, 0.05);
}

.content .buttons .icon {
  padding: 0;
  width: 32px;
  height: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.content .buttons .icon svg {
  fill: #555;
  pointer-events: none;
}

.content .buttons .text {
  padding: 0;
  height: 100%;
  font-size: 13px;
  align-items: center;
  display: inline-flex;
  width: calc(100% - 48px);
  justify-content: flex-start;
}

.content .toolbar {
  padding: 0;
  width: 42px;
  vertical-align: top;
}

.content .toolbar table {
  margin: 0;
}

.content .toolbar table tr td {
  padding: 0;
  width: 100%;
  height: 42px;
  transition: 100ms ease all;
}

.content .toolbar table tr td:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.content .toolbar .icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .toolbar .icon svg {
  fill: #555;
  vertical-align: middle;
}

.content .buttons .excludelist[added] {
  color: #f05228 !important;
}

.content .buttons .includelist[added] {
  color: #1c78cf !important;
}

.content .buttons .includelist[loaded],
.content .buttons .excludelist[loaded] {
  color: #000000 !important;
}

.content .buttons .includelist[error],
.content .buttons .excludelist[error] {
  color: #f05228 !important;
}
